<p id="notice"><%= notice %></p>
<%= link_to 'Scrape', data_path %>
<%= link_to 'Chart', chart_path %>
<%if @urls%>
<h1>Urls</h1>

<table>
  <thead>
    <tr>
      <th>Company_name</th>
      <th>Company_code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%= url.company_name %></td>
        <td><%= url.company_code %></td>
        <td><%= link_to 'Show', url %></td>
        <td><%= link_to 'Edit', edit_url_path(url) %></td>
        <td><%= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%end%>
