<%= form_with(model: stocks_chart, local: true) do |form| %>
  <% if stocks_chart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stocks_chart.errors.count, "error") %> prohibited this stocks_chart from being saved:</h2>

      <ul>
        <% stocks_chart.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :open %>
    <%= form.text_field :open %>
  </div>

  <div class="field">
    <%= form.label :high %>
    <%= form.text_field :high %>
  </div>

  <div class="field">
    <%= form.label :low %>
    <%= form.text_field :low %>
  </div>

  <div class="field">
    <%= form.label :close %>
    <%= form.text_field :close %>
  </div>

  <div class="field">
    <%= form.label :volume %>
    <%= form.text_field :volume %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
